<h1><%= @order.name %>, your order is accepted.</h1>
<h2>Order id : <%= @order.id %><h2>
  <h3>You ordered</h3>
  <ul>
    <% eval(cookies[:cart]).each do |obj| %>
        <li><%= Product.find(obj[:product_id]).title %>, quantity: <%= obj[:quantity] %> </li>
    <% end %>
  </ul>
<p>Wait, our manager will contact you.</p>