// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-div{
  display: inline-block;

}
.title{
  margin-left: 100px;
  width: 100px;
}
.price{
  margin-left: 100px;
  width: 100px;
}
.quantity{
  margin-left: 100px;
  width: 100px;
}
.delete {
  float: right;
  margin-top: 55px;
  width: 100px;
}
.columns-order{
  margin-left: 150px;
}
.photo{
  width: 320px;
  text-align: center;
}
.submit-products{
  float: right;
}
.table-order{
  margin-bottom: 20px;
}