// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left_delete_buttons{
  float: right;
  margin-top: 70px;
  div{
    margin-bottom:199px;
  }
}
.table-order{
  width: 80%;
  float:left;
}