<% if @product.reviews.published.count != 0 %>
  <% @reviews = @product.reviews.published %>
  <% @review = 0 %>
  <% @reviews.each do |r| %>
      <% @review += r.rating %>
  <% end %>
  <%@review /= @reviews.count%>
  <% @review *= 20 %>
<% else %>
  <% @review = 0 %>
<% end %>


<div class="star-ratings-sprite">
  <span style="width:<%= @review %>%" class="star-ratings-sprite-rating">
  </span>
</div>